// Place all the styles related to the Uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.file_block {
  border: 2px solid #CCC;
  border-radius: 5px;
  padding: 5px 5px;
  margin: 10px 10px;
}

.tags {
  color: green;
}
